.intro {
  width: 100%;
  min-height: 630px;
  position: relative;
  background-color: #9cdfce;
  z-index: 0;
}

.intro__info {
  width: 460px;
  padding-top: 134px;
  padding-right: 625px;
  padding-bottom: 60px;
  padding-left: 115px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.intro__title {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-family: "Open Sans", "Verdana", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.666;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #31415c;
  flex-basis: auto;
}

.intro__subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  font-family: "Open Sans", "Verdana", "Arial", sans-serif;
  font-size: 72px;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.05em;
  color: #31415c;
  flex-basis: auto;
}

.intro__description {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto", "Verdana", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
  color: #252525;
  flex-basis: auto;
}

.intro__button {
  align-self: flex-start;
}

.intro__cover-set {
  min-width: 1200px;
  max-width: 1920px;
  height: 630px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.intro__cover {
  width: auto;
  height: 630px;
}
