.main-nav {
  width: 970px;
  padding-top: 4px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.main-nav__pages-list {
  width: 650px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;

  flex-basis: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.main-nav__pages-item {
  margin-right: 42px;
  font-family: "Roboto", "Verdana", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.050em;
  color: #464646;
  flex-basis: auto;

  &:last-of-type {
    margin-right: 0;
  }
}

.main-nav__pages-item-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten(#464646, 10%);
  }

  &:active {
    color: lighten(#464646, 20%);
  }
}

.main-nav__user-controls-list {
  width: 270px;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;

  flex-basis: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.main-nav__user-controls-item {
  height: 16px;
  margin-right: 20px;
  font-family: "Roboto", "Verdana", "Arial", sans-serif;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.050em;
  color: #252525;

  &:last-of-type {
    margin-right: 0;
  }
}

.main-nav__user-controls-link {
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten(#252525, 10%);
  }

  &:active {
    color: lighten(#252525, 20%);
  }

  &--search {
    margin-top: 2px;
  }

  &--wishlist {
    margin-top: 2px;
  }

  &--cart {
    position: relative;
  }

  &--amount {
    margin-top: 3px;
  }
}

.main-nav__user-controls-cart-dashboard {
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  top: -4px;
  right: -8px;
  padding: 2px;
  border-radius: 50%;
  font-family: "Roboto", "Verdana", "Arial", sans-serif;
  font-size: 9px;
  line-height: 11px;
  vertical-align: middle;
  font-weight: 500;
  letter-spacing: 0.050em;
  color: #ffffff;
  text-align: center;
  background-color: #00c8c8;
  overflow: hidden;
}

.main-nav__user-controls-icon {
  display: block;
}

.main-nav__user-controls-icon-core {
  fill: #464646;

  .main-nav__user-controls-link:hover &,
  .main-nav__user-controls-link:focus & {
    fill: lighten(#464646, 10%);
  }

  .main-nav__user-controls-link:active & {
    fill: lighten(#464646, 20%);
  }
}

.main-nav__search-modal {
  position: absolute;
  width: 475px;
  height: 20px;
  bottom: -60px;
  right: -15px;
  padding: 10px;
  font-size: 0;
  background-color: #ffffff;
  z-index: 50;

  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;

  &--active {
    display: flex;
  }
}

.main-nav__search-input {
  width: 370px;
  height: 20px;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Verdana", "Arial", sans-serif;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.050em;
  color: #252525;
  background-color: #e8e8e8;

  &::placeholder {
    opacity: 1;
  }

  &:focus::placeholder {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
}

.main-nav__search-submit-button,
.main-nav__search-close-button {
  height: 20px;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Verdana", "Arial", sans-serif;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.050em;
  color: #d7d7d7;
  background-color: #31353d;
  cursor: pointer;

  &:hover,
  &:focus {
    color: lighten(#d7d7d7, 10%);
    background-color: lighten(#31353d, 5%);
  }

  &:active {
    color: #ffffff;
    background-color: lighten(#31353d, 10%);
  }
}
