.subscribe {
  background-image: url("../img/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center 0px;
  background-color: #3c3c3a;
}

.subscribe__wrapper {
  width: 1170px;
  padding-top: 64px;
  padding-right: 15px;
  padding-bottom: 58px;
  padding-left: 15px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.subscribe__info {
  width: 400px;
  flex-basis: auto;
}

.subscribe__title {
  padding: 0;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 10px;
  font-family: "Roboto", "Arial", "Verdana", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.050em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__description {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", "Verdana", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.050em;
  color: #ffffff;
}

.subscribe__form {
  width: 670px;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}

.subscribe__input {
  width: 100%;
  box-sizing: border-box;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 8px;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: "Roboto", "Arial", "Verdana", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.050em;
  color: #111111;
  flex-basis: auto;

  &::placeholder {
    opacity: 1;
    color: #b7b7b7;
  }

  &:focus::placeholder {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
}
